<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><!--$TITLE--></title>
    <link rel="preload" href="/static/styles.css" as="style" />
    <link rel="preload" href="/static/scripts.js" as="script" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <main>
      <section class="hero">
        <!-- Constrain width area -->
        <div class="container">
          <h1>It's a Qub-ical World</h1>
          <p class="subtitle">...and we're just playing in it!</p>
          <nav>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
          </nav>
        </div>
      </section>
      <div class="container"><!--$BODY--></div>
      <footer>
        <div class="container">
          Copyright &copy;
          <!--$YEAR-->
          $DOMAIN
        </div>
      </footer>
    </main>
  </body>
</html>
